{{!-- spaces.hbs --}}
{{!-- shows booking if user with booking is logged in  --}}
<div class="marginLR">

  <form class="spaceMarginTop spaceSearchRow" action="/location" method="POST" class="indexForm">
    <button class="spaceSearch" type="submit"><img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTueLhxCgdP_rTXRL0Wzi2vj92ECAJBR9E4TfVmnfoEGw1Czbk6"
        alt=""></button>
    <input class="spaceInput" type="text" name="location" placeholder="Search for your next office">
  </form>

  {{#if booked}}
  <h1 class="bookedMainTitle">Your Booked Spaces</h1>
  <div class="booked">
    {{#each booked}}
    <div class="bookedBox">
      <img src="{{this.space.image}}" alt="coffee shop">
      <h1 class="bookedBoxTitle">{{this.space.name}}</h1>
      <h2>{{this.bookingPeriod}}</h2>
    </div>
    {{/each}}
  </div>
  {{/if}}
  
  <div id='map' style='width: 400px; height: 300px;'></div>
  {{!-- default aviable spaces for booking  --}}
  <div id='check' class="spacesColumn">
    {{#each space}}
    <div class="spacesBox">
      <img src="{{image}}" alt="coffee shop">
      <div class="spaceColumn">
        <h3>{{name}}</h3>
        <p>Location: {{location}}</p>
        <p>Description: {{description}}</p>
        <button><a href="/spaces/{{this._id}}">Space Details</a></button>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>

  var coordinatesArray = {{{ cord }}}
  mapboxgl.accessToken = 'pk.eyJ1IjoiZWRkeTI3MDYiLCJhIjoiY2sxaTlyejFoMHQ2ejNocXBmdmVlb3MwNCJ9.kDpuAmvGKf_R2xvz66ZSnA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [4.76417, 52.3081],
    zoom: 8
  });

  coordinatesArray.forEach((element) => {
    var el = document.createElement('div');
    el.className = 'marker';
    new mapboxgl.Marker(el)
      .setLngLat([element.long, element.lat])
      .addTo(map);
  })

</script>