{{!-- spaces.hbs --}}
{{!-- shows booking if user with booking is logged in  --}}
<div class="marginLR spaceMarginTop">

  {{#if booked}}
  <h1 class="bookedMainTitle">Your Booked Spaces</h1>
  <div class="booked">
    {{#each booked}}
    {{!-- <a href=""> --}}
    <div class="bookedBox">
      <img class="cover" src="/{{this.space.image}}" alt="coffee shop">
      <h1 class="bookedBoxTitle">{{this.space.name}}</h1>
      <h2>{{this.bookingPeriod}}</h2>
    </div>
    {{!-- </a> --}}
    {{/each}}
  </div>
  {{/if}}

  <div class="spacesColRow">

    {{!-- default aviable spaces for booking  --}}
    <div class="spacesColumn">
      {{#each space}}
      <div class="spacesBox">
        <img src="{{image}}" alt="coffee shop">
        <div class="spacesBoxColumn marginLeft">
          <div>
            <h3>{{name}}</h3>
            <p>Available: {{location}}</p>
            <p>{{description}}</p>
          </div>
          <button class="spaceDetailBtn"><a href="/spaces/{{this._id}}">Details</a></button>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="mapSpace">
      <div id='map' class="cover"></div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>

  var coordinatesArray = {{{ cord }}}
  mapboxgl.accessToken = "{{{MAP_BOX_API_KEY}}}";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [4.76417, 52.3081],
    zoom: 8
  });

  coordinatesArray.forEach((element) => {
    var el = document.createElement('div');
    el.className = 'marker';
    new mapboxgl.Marker(el)
      .setLngLat([element.long, element.lat])
      .addTo(map);
  })

</script>