{{!-- spaces.hbs --}}
{{!-- shows booking if user with booking is logged in  --}}
<div class="marginLR spaceMarginTop">

  {{#if booked}}
  <h1 class="bookedMainTitle">Your Booked Spaces</h1>
  <div class="booked">
    {{#each booked}}
    {{!-- <a href=""> --}}
    <div class="bookedBox">
      <img class="cover" src="/{{this.space.image}}" alt="coffee shop">
      <h1 class="bookedBoxTitle">{{this.space.name}}</h1>
      <h2>{{this.bookingPeriod}}, {{this.space.location}}</h2>
    </div>
    {{!-- </a> --}}
    {{/each}}
  </div>
  {{/if}}

  <h1 class="bookedMainTitle">Available Spaces</h1>
  <div class="spacesColRow">

    {{!-- default aviable spaces for booking  --}}
    <div class="spacesColumn">
      {{#each space}}
      <div class="spacesBox">
        <img class="spacesBoxCover" src="/{{image}}" alt="coffee shop">
        <div class="spacesBoxColumn marginLeft">
          <div>
            <h3>{{name}}</h3>
            <p>Available: {{location}}</p>
            <p>{{description}}</p>
          </div>
          <button class='view-map-btn'><a href='#map'>check me out</a></button>
          <button class="spaceDetailBtn"><a href="/spaces/{{this._id}}">Details</a></button>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="mapSpace">
      <div id='map' class="cover"></div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
<script>

  var coordinatesArray = {{{ cord }}}
  mapboxgl.accessToken = "{{{MAP_BOX_API_KEY}}}";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [4.76417, 52.3081],
    zoom: 9
  });

  let checking = $('.view-map-btn')
  checking.each((index, element) => {
    element.addEventListener('click', () => {
      let testCoord = coordinatesArray[index]
      map.flyTo({ center: [testCoord.long, testCoord.lat], zoom: 15 })
    });
  })


  coordinatesArray.forEach((element) => {
    var el = document.createElement('div');
    el.className = 'marker';
    var popup = new mapboxgl.Popup({ offset: 25 })
      .setText(`Place: ${element.name}  Time:${element.time}`);

    new mapboxgl.Marker(el)
      .setLngLat([element.long, element.lat])
      .setPopup(popup)
      .addTo(map);
  })

</script>