{{!-- space-details.hbs --}}
<div class='space-details-container'>
  <div class="spaceDetails">
    <img style='object-fit: cover'src="/{{space.image}}" alt="Cafe">
    <div class='space-detail-info'>
      <h1>{{space.name}}</h1>
      <br>
      <strong>Location:</strong>
      <p>{{space.location}}</p>
      <br>
      <strong>Address:</strong>
      <p id="lat" data-coord={{space.lat}}>{{space.address}}</p>
      <br>
      <strong>Description:</strong>
      <p id="long" data-coord={{space.long}}> {{space.description}}</p>
      <br>
      <form action="/book" method="POST">
        <input type="hidden" name="image" value="{{space.image}}">
        <input type="hidden" name='name' value="{{space.name}}">
        <input type="hidden" name='location' value="{{space.location}}">
        <input type="hidden" name='description' value="{{space.description}}">
        <input type="hidden" name='spaceId' value="{{space._id}}">
        <input type="hidden" name='address' value="{{space.address}}">
        <input type="date" name='date' id="date" value="2019-10-01" min="2013-01-01" max="2019-10-02">
        <button type='sumbit'> click me</button>
      </form>
    </div>
  </div>

  <div id='detail-map'></div>
  {{!-- passing info and selected date by the user to confirmation page as a form! --}}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  let long = $("#long").data().coord
  let lat = $("#lat").data().coord
  console.log(long, lat)
  mapboxgl.accessToken = "{{{MAP_BOX_API_KEY}}}";
  var map = new mapboxgl.Map({
    container: 'detail-map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [long, lat],
    zoom: 15
  });

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat([long, lat])
    .addTo(map);


</script>