<div class="spaceMarginTop profileBackground">
  <div class="profileColumn1">
    <img class="profilePicture" src="/{{user.image}}" alt="image">
    <h1 class="profileName">{{user.firstname}} {{user.lastname}}</h1>


    <div class="profileColumn">
      {{#if booked}}
      <h2 class="bookedMainTitle">Your Booked Spaces</h2>
      <div class="profileBooked">
        {{#each booked}}
        <div class="profileBookedBox">
          <img class="profileCover" src="{{this.space.image}}" alt="coffee shop">
          <div class="profileBookedColumn">
            <h2>{{this.space.name}}</h2>
            <h3>{{this.bookingPeriod}}, {{this.space.location}}</h2>
              <div class="overlay">
                <h3 class="profileShowText"><strong>Address:</strong> {{this.space.address}}</h3>
              </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>

    {{!-- <button class="proButtons"><a href=>Manage your bookings</a></button> --}}
    <button class="proButtons"><a href="/spaces/create">List your space</a></button>
  </div>
</div>

{{#if space}}
<div class="marginLR">
  <h2 class="bookedMainTitle">Your listed spaces</h2>
  <div class="yourSpaceColRow">
    {{#each space}}
    <div class="yourSpaceBox">
      <img src="/{{this.image}}" alt="cafe">
      <h2>{{this.name}}</h2>
      <h3>{{this.location}}</h3>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}